/* Container styles for NewAircraftForm */
.NewAircraftForm {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ede0d461;
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Form elements styles */
.NewAircraftForm .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0D1F2D;
}

.NewAircraftForm .form-control {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.71);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Row spacing */
.NewAircraftForm .row {
    margin-bottom: 15px;
}

/* Button styles */
.NewAircraftForm .custom-button {
    background-color: #0D1F2D;
    color: #FFEAD9;
    border-color: #0D1F2D;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.NewAircraftForm .custom-button:hover {
    background-color: #0A1722;
    border-color: #0A1722;
}

/* Availability emoji cursor pointer */
.NewAircraftForm .availability-emoji {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* Responsive styling */
@media (max-width: 768px) {
    .NewAircraftForm {
        width: 100%;
        margin: 20px auto;
        padding: 15px;
    }

    .NewAircraftForm .form-control {
        font-size: 14px;
    }

    .NewAircraftForm .availability-emoji {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .NewAircraftForm {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .NewAircraftForm .custom-button {
        font-size: 14px;
        padding: 10px;
    }
}