div.dashboard-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 5px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(158, 163, 176, 0.5), transparent, transparent, rgba(158, 163, 176, 0.5));
    padding-top: 20px;
    padding-bottom: 20px;
}