.LoginPage {
    background-image: url('/public/assets/pexels-revac-film-s-photography-10400-194987.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}