.LoginPage {
    background-image: url('/public/pexels-ahmedmuntasir-912050.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}