h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.BookingCard {
    font-family: 'Montserrat', sans-serif;
}

.custom-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-details {
    margin-top: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 1.5rem;
}