.user-login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
}

.user-login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ede0d461;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.custom-button {
    background-color: #0D1F2D;
    border-color: #0D1F2D;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0A1722;
    border-color: #0A1722;
}

.sign-up-link-button {
    background-color: transparent;
    color: #0D1F2D;
    border: 2px solid #0D1F2D;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.sign-up-link-button:hover {
    background-color: #0D1F2D;
    color: #fff;
}

@media (max-width: 768px) {
    .user-login-form {
        width: 100%;
        padding: 15px;
    }

    .custom-button,
    .sign-up-link-button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .user-login-form {
        padding: 10px;
    }

    .custom-button,
    .sign-up-link-button {
        font-size: 12px;
        padding: 8px;
    }
}