.EditAircraftForm {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffead9ac;
    width: 60%;
    margin: 30px auto;
}

.EditAircraftForm .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #0D1F2D;
}

.EditAircraftForm .form-control {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.71);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.EditAircraftForm .row {
    margin-bottom: 15px;
}

.EditAircraftForm button {
    background-color: rgba(13, 31, 45, 0.8);
    color: #FFEAD9;
    border-color: rgba(255, 255, 255, 0.5);
}

.availability-emoji {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}