.Navbar {
    background-color: #EDE0D4;
    border-bottom: transparent;

}

.Navbar a {
    text-decoration: none;
    color: #0D1F2D;
}


.canvas-body {
    background-color: #EDE0D4;
}

.header-body {
    background-color: #EDE0D4;
}

.custom-color-button {
    background-color: #0D1F2D;
    border: #bde0fe;
    color: #ede0d4;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.custom-color-button:hover {
    background-color: #0D1F2D;
    border: #0D1F2D;
    color: #ede0d4;

}

.canvas-body {
    text-align: center;
    font-size: large;
}