.Navbar {
    background-color: #EDE0D4;
    border-bottom: transparent;

}

.Navbar a {
    text-decoration: none;
    color: #0D1F2D;
}

.Navbar .me-auto {
    margin-top: 20px;
}


/* .dropdown-item {
    width: calc(50% - 50px);
} */

.Navbar-brand {
    position: fixed;
    align-items: calc(50% - 50px);

}