.user-signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.user-signup-form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #ede0d461;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button {
    background-color: #0D1F2D;
    border-color: #0D1F2D;
}

.custom-button:hover {
    background-color: #0A1722;
    border-color: #0A1722;
}