.popular-destinations {
    padding: 2rem 1rem;
    background-color: #ede0d49f;
    border-radius: 1rem;
    box-shadow: #ede0d4
}

.popular-destinations h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.destination-card {
    border: none;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: #ede0d4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination-card:hover {
    transform: translateY(-5px);
    box-shadow: #ede0d4
}

.destination-image {
    height: 200px;
    object-fit: cover;
}

.destination-card .card-body {
    padding: 1rem;
}

.destination-card .card-title {
    font-size: 1.5rem;
    color: #003366;
    margin-bottom: 0.75rem;
    text-align: center;
}

.destination-card .card-text {
    font-size: 1rem;
    color: #666;
    text-align: justify;
}

@media (min-width: 768px) {
    .destination-image {
        height: 250px;
    }

    .destination-card .card-title {
        font-size: 1.75rem;
    }

    .destination-card .card-text {
        font-size: 1.1rem;
    }
}