.dashboard-flights {
    margin-top: 20px;
}

.dashboard-flights h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.flights-table {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flights-table th,
.flights-table td {
    text-align: center;
    vertical-align: top;
    /* Ajustar para alinear el texto al tope */
}

.flights-table th {
    background-color: #ede0d4;
    color: #343a40;
    font-size: 1rem;
    font-weight: 600;
}

.flights-table td {
    font-size: 0.9rem;
}

.actions-column {
    white-space: nowrap;
}

.actions-column .action-button {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 15px;
}

.edit-aircraft-icon {
    font-size: 1.5rem;
    color: #003366;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.edit-aircraft-icon:hover {
    color: #0056b3;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .actions-column .action-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {

    .flights-table th,
    .flights-table td {
        font-size: 0.8rem;
    }
}