.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ede0d4;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .error-page {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.content-container {
    max-width: 48rem;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.error-code {
    font-size: 9rem;
    font-weight: bold;
    color: #0D1F2D;
}

.error-message {
    font-size: 1.875rem;
    font-weight: bold;
    color: #0D1F2D;
}

@media (min-width: 768px) {
    .error-message {
        font-size: 3rem;
    }
}

.plane-icon {
    width: 30%;
    height: 10%;

}

.back-link {
    text-decoration: none;
    display: inline-flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: #0D1F2D;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: medium;
    color: #ede0d4;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s;
}

.back-link:hover {
    background-color: rgba(13, 31, 45, 0.9);
}

.back-link:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #0D1F2D;
}

.back-link:disabled {
    pointer-events: none;
    opacity: 0.5;
}