.AircraftCard {
    border: none;
    background: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.AircraftCard .card-body {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.AircraftCard .card-title {
    margin-bottom: 1rem;
}

.AircraftCard .flex-grow-1 {
    flex-grow: 1;
}

.custom-btn {
    background-color: #546A7B;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #EDE0D4;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn:hover {
    background-color: #3f5366;
    transform: translateY(-2px);
}

.custom-btn-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.custom-btn-link:hover {
    text-decoration: none;
}