.add-form-page {
    background-image: url('/public/assets/pexels-ahmedmuntasir-912050.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}