.sign-up {
    background-image: url('/public/assets/pexels-stasknop-1494449.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}