.Footer {
    font-size: 0.8em;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    background-color: #ede0d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Footer a {
    color: #0D1F2D;
    font-size: 1em;
    text-decoration: none;
}

.footer-section {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.footer-section h5 {
    font-size: 1em;
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    margin: 5px 0;
}

.social-icons li {
    list-style: none;
}

.social-icons a {
    color: #0D1F2D;
    font-size: 1.5em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #333;
}

.copyright {
    margin-top: 1px;
    text-align: center;
    font-size: 0.75em;
}