img {
    width: 100%;
}

.full-height {
    min-height: calc(100vh - 100px);
}

.font-family {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}