.home-page-container {
    width: 100%;
}

.home-page {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.background-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.overlay h1,
.overlay h3 {
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.overlay h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.overlay h3 {
    font-size: 2rem;
}


@media (max-width: 576px) {
    .overlay {
        padding: 10px;
    }

    .overlay h1 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .overlay h3 {
        font-size: 1.5rem;
    }

    .text-container {
        padding-top: 1rem;
        margin-top: -1rem;
    }

    .flightSearch {
        margin-top: -2rem;
    }
}

@media (min-width: 768px) {
    .overlay h1 {
        font-size: 4rem;
    }

    .overlay h3 {
        font-size: 2rem;
    }
}



/* Hide video controls on mobile devices */
@media only screen and (max-width: 767px) {
    .background-video::-webkit-media-controls {
        display: none !important;
    }

    .background-video::-webkit-media-controls-enclosure {
        display: none !important;
    }

    .background-video::-webkit-media-controls-panel {
        display: none !important;
    }

    .background-video::-webkit-media-controls-play-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-start-playback-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-timeline {
        display: none !important;
    }

    .background-video::-webkit-media-controls-timeline-container {
        display: none !important;
    }

    .background-video::-webkit-media-controls-mute-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-volume-slider {
        display: none !important;
    }

    .background-video::-webkit-media-controls-volume-control-container {
        display: none !important;
    }

    .background-video::-webkit-media-controls-current-time-display {
        display: none !important;
    }

    .background-video::-webkit-media-controls-time-remaining-display {
        display: none !important;
    }

    .background-video::-webkit-media-controls-fullscreen-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-playback-rate-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-rewind-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-seek-back-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-seek-forward-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-pip-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-text-track-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-download-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-cast-button {
        display: none !important;
    }

    .background-video::-webkit-media-controls-spacer {
        display: none !important;
    }

    .background-video::-webkit-media-controls-spacer-line {
        display: none !important;
    }

    .background-video::-webkit-media-controls-container {
        display: none !important;
    }
}