.ProfileCard {
    background-color: #fff;
    border: 1px solid #EDE0D4;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px;
    width: 100%;
    text-align: left;
}

.ProfileCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.ProfileCard h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #373535;
    margin-bottom: 16px;
    text-align: center;
}

.custom-list {
    padding: 0;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
    color: #546A7B;
    font-size: 1.2rem;
}

.detail-item p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.detail-item p strong {
    font-weight: 600;
}

@media (max-width: 768px) {
    .ProfileCard {
        max-width: 100%;
    }

    .ProfileCard h4 {
        font-size: 1.3rem;
    }

    .icon {
        font-size: 1rem;
    }

    .detail-item p {
        font-size: 0.9rem;
    }
}