.AircraftsPage h2 {
    text-align: center;
    padding-top: 10%;
}


/* .AircraftsPage .carousel {
    position: relative;
}

.AircraftsPage .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    width: 100%;
    margin: 0;
}

.AircraftsPage .carousel-indicators li {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.AircraftsPage .carousel-indicators .active {
    background-color: #EDE0D4;
    border: 1px solid #EDE0D4;
}

.AircraftsPage .carousel-control-prev,
.AircraftsPage .carousel-control-next {
    top: 50%;
    width: auto;
    position: absolute;
    transform: translateY(-50%);
}

.AircraftsPage .carousel-control-prev-icon,
.AircraftsPage .carousel-control-next-icon {
    background-color: black;
    width: 30px;
    height: 30px;

}

.AircraftsPage .carousel-control-prev {
    left: 20%;

}

.AircraftsPage .carousel-control-next {
    right: 20%;

}

.AircraftsPage .carousel-caption {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: auto;
    left: auto;
    padding: 0;
    color: #000;
} */