.AircraftsPage .carousel {
    position: relative;
}

.AircraftsPage .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    width: 100%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}


.AircraftsPage .carousel-indicators li {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.AircraftsPage .carousel-indicators .active {
    background-color: #EDE0D4;
    border: 1px solid #EDE0D4;
}

.AircraftsPage .carousel-control-prev,
.AircraftsPage .carousel-control-next {
    top: 10px;
    width: 800PX;
    position: absolute;
    margin-top: 250PX;

    transform: translateY(-50%);
}

.AircraftsPage .carousel-control-prev-icon,
.AircraftsPage .carousel-control-next-icon {
    background-color: black;
    position: relative;
    align-items: center;
}

.AircraftsPage .carousel-caption {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: auto;
    left: auto;
    padding: 0;
    color: #000;

}