.AircraftsPage .carousel {
    position: relative;
}

.AircraftsPage .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    width: 100%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Cambia el color de los puntos de los indicadores */
.AircraftsPage .carousel-indicators li {
    background-color: #ccc;
    /* Color para los indicadores no activos */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.AircraftsPage .carousel-indicators .active {
    background-color: #1b7ccb;
    /* Color para el indicador activo */
    border: 1px solid #1b7ccb;
}

.AircraftsPage .carousel-control-prev,
.AircraftsPage .carousel-control-next {
    top: 10px;
    width: auto;
    height: auto;
    transform: translateY(-50%);
}

.AircraftsPage .carousel-control-prev-icon,
.AircraftsPage .carousel-control-next-icon {
    background-color: black;
    /* Puedes cambiar esto a tu preferencia */
}

.AircraftsPage .carousel-caption {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: auto;
    left: auto;
    padding: 0;
    color: #000;
    /* Cambia el color si es necesario */
}